mixin Feature(config)
  .col-md-4.mt-8
    .badge(class=`${config.iconBg}`).p-3.rounded-3
      i.fs-4(class=`${config.iconColor} ${config.icon}`)
    h4.mt-5.mb-3.fw-bold=config.title
    p.fs-1.pe-xxl-10.lh-sm=config.text

mixin PartnershipCorroboration(config)
  .col-md-4(class=`${config.order}`)
    img(src=`${CWD}assets/img/gallery/${config.image}`  alt='...')
  .col-md-7.text-center.text-md-start
    h6.fs-0.text-uppercase.fw-bold.text-primary=config.preTitle
    h6.fw-bold.fs-6.display-3.lh-sm=config.title
    p.my-4.fs-1.pe-xl-5!=config.text
    .btn.hover-top.btn-collab(href='#' role='button')
      | Learn more
  