append variables
 -
    var features = [
      {
        icon:'mail',
        color:'danger',
        title:'Encrypted Mail',
        iconWrapper:'icon-wrapper shadow-danger',
        text:'A process of encrypting email communications'
      },
      {
        icon:'monitor',
        color:'primary',
        iconWrapper:'icon-wrapper shadow-primary',
        title:'Display Sharing',
        text:'With other participants, you may share your screen'
      },
      {
        icon:'book',
        color:'warning',
        iconWrapper:'icon-wrapper shadow-warning',
        title:'Private Notebook',
        text:'Private Notebook is an application that is protected'
      },
       {
        icon:'tablet',
        color:'success',
        iconWrapper:'icon-wrapper shadow-success',
        title:'App App Assistance',
        text:'App Assistant is quickly and effectively ran the system'
      },
       {
        icon:'printer',
        color:'secondary',
        iconWrapper:'icon-wrapper shadow-secondary',
        title:'Multiple Printing',
        text:'Our canvas prints are crafted on top-notch canvas.'
      },
       {
        icon:'edit-2',
        color:'info',
        iconWrapper:'icon-wrapper shadow-info',
        title:'Free Sketch',
        text:'Our canvas prints are crafted on top-notch canvas.'
      },
    ]

mixin Feature(config)
  .col-md-4.mb-6
    .text-center.px-lg-3
      div(class=`${config.iconWrapper}`)
        .icon(class=`icon-${config.color}`)
          span(data-feather=config.icon)
      h5.mt-3.fw-bold=config.title
      p.mb-md-0.px-xxl-6=config.text

mixin Features
  section#feature.py-5.circle-blend.circle-blend-right-feature.circle-cyan
    +Background({image: `${CWD}assets/img/illustrations/feature-bg.png`, attrs: { style: { 'background-position': 'right', 'background-size': 'auto',} }, className: '' })
    .container
      .row.justify-content-center.mb-6
        .col-lg-6.text-center.mx-auto.mb-3.mb-md-5.mt-4
          h5.fw-bold.fs-3.fs-lg-5.lh-sm.mb-3 Features
          p.mb-0 We provide a number of excellent features that will undoubtedly improve the user experience. We also provide a better support system
      .row.circle-blend.circle-blend-left-feature.circle-primary 
        each feature in features 
          +Feature(feature)    