mixin FooterList(...items)
  each item in items
    li.mb-2
      a.text-400.text-decoration-none(href='#!')
        =item

mixin Footer
  section.pb-0.pt-6
    +Background({ image: `${CWD}assets/img/illustrations/footer-bg.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover'} }, className: '' })
    .container
      .row.justify-content-lg-between.circle-blend-right.circle-danger
        .col-6.col-sm-4.col-lg-auto.mb-3
          h5.text-600.mb-3.fw-bold About
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('Prices','About','Resources','Team','Blog')

        .col-6.col-sm-4.col-lg-auto.mb-3
          h5.text-600.mb-3.fw-bold Resources 
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('Terms','Help','Privacy')
        .col-6.col-sm-4.col-lg-auto.mb-3
          h5.text-600.mb-3.fw-bold Team
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('Dveloper','Designer')
        .col-6.col-sm-4.col-lg-auto.mb-3
          h5.text-600.mb-3.fw-bold Blog
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('CEO','Lifestyle','Article','Tech')    
        .col-9.col-sm-6.col-lg-auto.mb-3
          h5.text-600.mb-3.fw-bold Follow Us
          ul.list-unstyled.list-inline.my-3
            li.list-inline-item
              a.text-decoration-none(href='#!')
                img.list-social-icon(src=`${CWD}assets/img/icons/facebook.svg` alt='' width=25)
            li.list-inline-item
              a.text-decoration-none(href='#!')
                img.list-social-icon(src=`${CWD}assets/img/icons/twitter.svg` alt='' width=25)
            li.list-inline-item
              a.text-decoration-none(href='#!')
                img.list-social-icon(src=`${CWD}assets/img/icons/linkdin.svg` alt=''  width=25)
            li.list-inline-item
              a.text-decoration-none(href='#!')
                img.list-social-icon(src=`${CWD}assets/img/icons/youtube.svg` alt=''  width=25)                                 
            li.list-inline-item
              a.text-decoration-none(href='#!')
          p.fw-semi-bold.mt-4.mb-3 Subscribe to our newsletter
          label.col-sm-2.col-form-label.visually-hidden(for='inputEmail2') Email
          .col-sm-12.input-group-icon
            input.form-control.rounded-pill.border-white.py-1.px-4#inputEmail2(type='email' placeholder="email")    
            svg.bi.bi-envelope-fill.input-box-icon(xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='currentColor' viewBox='0 0 16 16' style='left:.8rem;')
              path(d='M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z')
          
      hr.text-100.mb-0 
      .row.justify-content-md-between.justify-content-evenly.py-3
        .col-12.col-sm-8.col-md-6.col-lg-auto.text-center.text-md-start 
          p.fs--1.my-2.fw-bold All rights Reserved &copy; Your Company, 2021
        .col-12.col-sm-8.col-md-6
           p.fs--1.my-2.text-center.text-md-end  Made with&nbsp;
            svg.bi.bi-suit-heart-fill(xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='#EB6453' viewBox='0 0 16 16')
              path(d='M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z')

            |&nbsp;by&nbsp;
            a(href='https://themewagon.com/' target='_blank').fw-bold.text-500 ThemeWagon 
   
        