mixin Projects
  +Section
    .row.justify-content-center.mb-6
      .col-lg-6.text-center.mx-auto.mb-8
        h5.fw-bold.fs-3.fs-lg-5.lh-sm.mb-3 Our Projects
        p.mb-0 Klean is an elegant HTML5 template and a perfect starting point for your next SaaS oriented site, carefully curated by 
          span.fw-bold ThemeWagon
   
      .col-xxl-9
        .card.card-bg.mx-auto
          .card-body
            .row.align-items-center
              .col-12.col-md-6.col-lg-4.text-center
                img(src=`${CWD}assets/img/gallery/project-1.png` width='300' alt='project').mb-3.px-sm-4.px-xl-0
                img(src=`${CWD}assets/img/gallery/project-2.png` width='300' alt='project').mb-3.px-sm-4.px-xl-0
                //- img(src=`${CWD}assets/img/gallery/project-3.png` width='300' alt='project').mb-3
              .col-12.col-md-6.col-lg-4.text-center
                img(src=`${CWD}assets/img/gallery/project-3.png` width='300' alt='project').mb-3.px-sm-4.px-xl-0
                img(src=`${CWD}assets/img/gallery/project-4.png` width='300' alt='project').mb-3.px-sm-4.px-xl-0
              .col-12.col-md-6.col-lg-4.text-center
                img(src=`${CWD}assets/img/gallery/project-5.png` width='300' alt='project').mb-3.px-sm-4.px-xl-0
                img(src=`${CWD}assets/img/gallery/project-6.png` width='300' alt='project').mb-3.px-sm-4.px-xl-0
              