mixin Projects
  +Section.py-7
    +Background({image: `${CWD}assets/img/illustrations/project-bg.png`, attrs: { style: { 'background-position': 'right', 'background-size': 'auto',} }, className: '' })
    .row.justify-content-center.circle-blend.circle-blend-left-project.circle-warning
      .col-lg-6.text-center.mx-auto.mb-6
        h5.fw-bold.fs-3.fs-lg-5.lh-sm.mb-3 Our Projects
        p.mb-0 A project is a single or team activity, combining research and design with best effort. Here are some of our team's projects 
      .col-xxl-9
        .card.project-card-bg.mx-auto.px-0
          .card-body
            .row.align-items-center
              .col-12.col-md-6.col-lg-4.text-center
                img(src=`${CWD}assets/img/gallery/project-1.png` width='320' alt='project').mb-3.mb-lg-3.img-fluid.px-xl-0
                img(src=`${CWD}assets/img/gallery/project-2.png` width='320' alt='project').mb-3.mb-lg-0.img-fluid.px-xl-0
              .col-12.col-md-6.col-lg-4.text-center
                img(src=`${CWD}assets/img/gallery/project-3.png` width='320' alt='project').mb-3.mb-lg-3.img-fluid.px-xl-0
                img(src=`${CWD}assets/img/gallery/project-4.png` width='320' alt='project').mb-3.mb-lg-0.img-fluid.px-xl-0
              .col-12.col-md-6.col-lg-4.text-center
                img(src=`${CWD}assets/img/gallery/project-5.png` width='320' alt='project').mb-3.mb-lg-3.img-fluid.px-xl-0
                img(src=`${CWD}assets/img/gallery/project-6.png` width='320' alt='project').mb-3.mb-lg-0.img-fluid.px-xl-0
    .row  
      .col-auto.mx-auto.mt-6
        button.btn.btn-lg.btn-klean-outline.order-0(type='submit')
          span.text-gradient.fw-bold View More  