append variables
  -
    var teams= [
      {
        image:'john.png',
        name  :'John Adams',
        designation:'Ceo',
        shadowClass: 'wrapper shadow-square-right',
        teamBg:'team-card-1',
      },
      {
        image:'carrey.png',
        name  :'Carrey Johnson',
        designation:'Senior Developer',
        shadowClass: 'wrapper shadow-square-left',
        teamBg:'team-card-2',
      },
      {
        image:'ray.png',
        name  :'Ray Marie',
        designation:'Developer',
        shadowClass: 'wrapper shadow-square-right',
        teamBg:'team-card-3',
      },
      {
        image:'austin.png',
        name  :'Austin Min',
        designation:'Designer',
        shadowClass: 'wrapper shadow-square-left',
        teamBg:'team-card-4',
      },
      
    ];


mixin TeamMember(config) 
  .col-sm-6.col-lg-3.text-center
    div(class=`${config.shadowClass}`)
      img(src=`${CWD}assets/img/gallery/${config.image}` width='200' alt='...' class=`${config.teamBg}`)
    
    h5.text-800.fw-bold.mt-4.mb-1=config.name
    p=config.designation

mixin Team
  +Section.pb-0('container container-lg-fluid container-xl')
    +Background({image: `${CWD}assets/img/illustrations/team-bg.png`, attrs: { style: { 'background-position': 'left top', 'background-size': 'auto',} }, className: '' })
    .row.justify-content-center.mb-6
      .col-lg-6.text-center.mx-auto.mb-7
        h5.fw-bold.fs-3.fs-lg-5.lh-sm.mb-3 Our Team
        p.mb-0 People from various origins, cultures, and personalities make up our team. This blend makes it a powerful team
      .col-xxl-9
        .row.flex-center.g-0
          each item in teams
            +TeamMember(item)
    .row  
      .col-auto.mx-auto.mb-8
        button.btn.btn-lg.btn-klean-outline.order-0(type='submit')
          span.text-gradient.fw-bold View Full Team        